@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@900&display=swap');

header {
  display: inline-block;
}

.fed {
  font-family: 'Kumbh Sans';
  color: #4d148c ;
}

.ex {
  font-family: 'Kumbh Sans';
  color: #ff6600
}

.login-btn {
  text-align: right;
}

.search-body {
  background: url("/assets/images/boxes.jpeg") no-repeat center;
  background-size: cover;
  opacity: .5;
}

body {
  margin: 3rem auto;
  max-width: 150vw;
  width: 55ch;
}

.formInput {
  width: 22ch; 
}

ul {
  margin: 3rem auto;
  font-size: 1.75rem;
  padding: 0;
  list-style-type: none;
}

ul li {
  margin: 1.2rem 0;
}